<!DOCTYPE html>
<html lang= "en">
<head>
        <meta charset= "UTF-8">
        <meta name = "viewport" content="width=device-width,initial-scale=1.0">	
        <title>Shopping Site</title>
        <link rel ="stylesheet" href="css/style.css">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
<style>  
body{    
  background-color: pink;  
}  
</style>
</head>
<body>
  {{>navbar}}
<form action="/login" method="POST">
  

  <div class="container">
    <label for="uname"><b STYLE ="COLOR : BLUE; TEXT-ALIGN : CENTER;">Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label for="psw"><b STYLE ="COLOR : BLUE; TEXT-ALIGN : CENTER;">Password </b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>

  </div>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
</form>
</body>
</html>
